<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
        <%= link_to 'Order Report', home_orderhistory_path, class:"nav-link" %>
          
        </li>
                <li class="nav-item">
        <%= link_to ' Order History', giftcards_path, class:"nav-link" %>
          
        </li>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <li class="nav-item">
        <%= button_to 'Log Out', logout_path, method: :delete, class:"btn btn-dark " %>
          
        </li>
        </div>

      </ul>
    </div>
  </div>
</nav>
<strong style="color:black;text-align:center;">Logged In As Admin</strong>
<h1 style="color:black;text-align:center;">Welcome to Giftcard Page</h1>