<p style="color:black"><%= notice %></p>

<%= render @giftcard %>
<br />
<div class="container">
<div>
  <%= link_to "Edit", edit_giftcard_path(@giftcard), class:"btn btn-secondary" %> 
  <%= link_to "Back", giftcards_path, class:"btn btn-secondary" %>
</div>
</div>
